/* Colors 
primary-color: #62409C / rgb(98,64,156)
secondary-color: #f5f5f5 / rgb(245,245,245)
dark-color: 442c6d / rgb(68,44,109)
*/
:root {
  --primary-color: #62409c;
  --secondary-color: #f5f5f5;
  --dark-color: #442c6d;
  --poppins: 'Poppins', sans-serif;
  --playfair: 'Playfair Display', serif;
  scroll-behavior: smooth;
}

body {
  font-family: var(--poppins);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  line-height: 1.6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {

  border: none;
  outline: none;
  background: none;
  appearance: none;
}

/* Utilities */

.text-center {
  text-align: center;
}

.align-center {
  margin: 0 auto;
}

.text-italic {
  font-family: var(--playfair);
  font-style: italic;
}

.btn {
  text-align: center;
  font-size: 1rem;
  padding: 1rem 3rem;
  letter-spacing: 2px;
  transition: 0.4s ease;
  cursor: pointer;
}

.btn.btn-small {
  padding: 0.5rem 1rem;
}

.btn-dark {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.btn-light {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.btn-dark:hover {
  background: var(--dark-color);
}

.bg-dark {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.bg-light {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.text-header-main {
  font-size: 2.5rem;
}

.text-header-sub {
  font-size: 1.25rem;
}

.fs-small {
font-size: 0.875rem;
}

.text-secondary {
  color: var(--secondary-color);
}

.wrapper {
  max-width: 68.75rem;
  padding-inline: 2rem;
  margin: 0 auto;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

/* Mobile Styling */
/* Header/Navigation */

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-color);
  border-bottom: 3px solid var(--primary-color);
}

.primary-navigation {
  position: fixed;
  z-index: 100;
  inset: 0 0 0 30%;
  flex-direction: column;
  padding: min(20vh, 8rem) 2rem;
  background-color: rgba(98, 64, 156, 0.95);
  color: var(--secondary-color);
  letter-spacing: 1px;
  transform: translateX(100%);
  transition: 0.4s ease-out;
}

.primary-navigation.is-active {
  transform: translateX(0%);
}

.primary-navigation li {
  padding: min(4vh, 1.5rem) 0;
  border-bottom: 2px solid var(--secondary-color);
}

#hamburger {
  display: flex;
  z-index: 999;
  margin-left: auto;
}

.hamburger-btn {
  position: relative;
  display: block;
  margin: 10px;
  width: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 99;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger-btn .bar,
.hamburger-btn:after,
.hamburger-btn:before {
  content: '';
  display: block;
  width: 100%;
  height: 0.25rem;
  border-radius: 2px;
  background-color: var(--primary-color);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger-btn.is-active:before {
  transform: rotate(-45deg) translate(-7px, 5px);
  background-color: var(--secondary-color);
}

.hamburger-btn.is-active:after {
  transform: rotate(45deg) translate(-9px, -7px);
  background-color: var(--secondary-color);
}

.hamburger-btn.is-active .bar {
  opacity: 0;
}

/* Showcase Home */

#showcase {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 75vh;
  background: linear-gradient(rgba(98, 64, 156, 0.5), rgba(98, 64, 156, 0.5)),
    url('../img/SROZ06250185.jpg') no-repeat center center/ cover;
  border-bottom: 3px solid var(--primary-color);
}

#showcase h1 {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-top: 15vh;
  padding: 0 3rem;
  letter-spacing: 2px;
}

#showcase h1 span {
  font-size: 4.5rem;
}

/* Nieuw Home Section / Page */

#nieuw .nieuw-header {
  padding: 2rem 0;
}

#nieuw .nieuw-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

#nieuw .nieuw-content .nieuw-item .nieuw-item-description {
  padding-top: 0.5rem;
  line-height: 1.6;
}

#nieuw .nieuw-btn {
  margin: 3rem auto;
  text-align: center;
}

#ringmaat {
  background-color: var(--primary-color);
}

#ringmaat .ringmaat-content {
  padding: 2rem;
  color: var(--secondary-color)
}

#ringmaat .ringmaat-img {
  width: 100%;
  height: 20rem;
  background: url('../img/SMAA06161175.jpg') no-repeat center bottom/cover;
}

#ringmaat .ringmaat-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
}

/* Info-text Home Section */

#info-text {
  border-bottom: 3px solid var(--primary-color);
}

#info-text .info-text-content {
  padding-block: 2rem;
}

#info-text .info-text-content > p {
  margin-top: 1rem;
  letter-spacing: 1px;
  line-height: 1.8;
}

#info-text .info-text-content p:nth-child(2),
#info-text .info-text-content p:nth-child(4) {
  font-size: 1.5rem;
}

#info-text .info-text-img {
  background: url('../img/20120211_8014.jpg') no-repeat center center/cover;
  height: 50vh;
}

/* Favorieten Home Section */

#favorieten .favorieten-header {
  padding: 2rem 0;
}

#favorieten .favorieten-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}

#favorieten .favorieten-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(98, 64, 156, 0.5), rgba(98, 64, 156, 0.5)),
    url('../img/favorieten/SLAB04059.jpg') no-repeat center center/cover;
  width: 100%;
  height: 350px;
  text-align: center;
}

#favorieten .favorieten-content .favorieten-item:nth-child(2) {
  background: linear-gradient(rgba(98, 64, 156, 0.5), rgba(98, 64, 156, 0.5)),
    url('../img/favorieten/SAME06222170.jpg') no-repeat center center/cover;
}

#favorieten .favorieten-content .favorieten-item:nth-child(3) {
  background: linear-gradient(rgba(98, 64, 156, 0.5), rgba(98, 64, 156, 0.5)),
    url('../img/favorieten/SONY02011.JPG') no-repeat center center/cover;
}

#favorieten .favorieten-item h2 {
  color: var(--secondary-color);
  margin-bottom: 3rem;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

#favorieten .favorieten-item .favorieten-btn .btn.btn-dark {
  border: 2px solid var(--secondary-color);
}

/* Icons Home Section */

#icons {
  margin-top: 4rem;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-bottom: 3px solid var(--primary-color);
}

#icons .icon-items {
  padding: 2rem 2rem 0 2rem;
}

#icons .icon-item {
  padding-bottom: 2rem;
}

#icons .icon-item .icon {
  padding-bottom: 1rem;
}

#icons .icon-img {
  background: url('../img/SZIL02035.jpg') no-repeat center center/cover;
  height: 50ch;
}

/* Edelstenen Page */

#edelstenen .edelstenen-header {
  padding: 2rem;
}

#edelstenen .edelstenen-shortcuts {
  max-width: 600px;
  margin: 2rem auto 0 auto;
}

#edelstenen .edelstenen-shortcuts ul {
  display: flex;
  justify-content: space-between;
}

#edelstenen .edelstenen-content > div:nth-child(odd) {
  background: var(--primary-color);
  color: var(--secondary-color);
}

#edelstenen .edelstenen-content > div:nth-child(odd) .btn {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem 2rem;
}

#edelstenen .edelstenen-content > div:nth-child(odd) .btn:hover {
  opacity: 0.7;
}

#edelstenen .edelstenen-content > div:nth-child(even) .btn {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem 2rem;
}

#edelstenen .edelstenen-content > div:nth-child(even) .btn:hover {
  background: var(--dark-color);
}

#edelstenen .edelstenen-content .edelstenen-card-content > * {
  margin-top: 1rem;
}

#edelstenen .edelstenen-content .edelstenen-card-header h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#edelstenen .edelstenen-content .edelstenen-card-header p {
  font-size: 1.25rem;
}

#edelstenen .edelstenen-content .edelstenen-card-header img {
  width: 30%;
  margin: 2rem auto;
}

#edelstenen .edelstenen-content .edelstenen-card button {
  margin: 3rem 0 2rem 0;
}

/* Assortiment Page */

.assortiment-header {
  padding: 2rem 0;
}

.assortiment-item {
  margin-bottom: 2rem;
}

.assortiment-img-slider {
  width: 100%;
  height: 250px;
  background-image: url("../img/nieuw/SAGA06030185.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: animate-bg-img 60s infinite;
}

@keyframes animate-bg-img {
  0%,
  19% {
    background-image: url("../img/nieuw/SAGA06030185.JPG");
  }
  21%,
  39% {
    background-image: url("../img/nieuw/SAME04006.jpg");
  }
  41%,
  59% {
    background-image: url("../img/nieuw/SCAR06080180.JPG");
  }
  61%,
  79% {
    background-image: url("../img/nieuw/SKYA04002.jpg");
  }
  81%,
  99% {
    background-image: url("../img/nieuw/SLAB02004.jpg");
  }
}

.assortiment-text {
  padding: 1rem;
}

.assortiment-text h2 {
  margin-bottom: 1rem;
}

.assortiment-item:nth-child(1) {
  /* padding: 1rem; */
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Contact Page */

#contact {
  padding: 0 2rem;
  margin-bottom: 1rem;
}

#contact .contact-header {
  padding: 2rem 0;
}

#contact .contact-form {
  max-width: 800px;
}

#contact .contact-form > * {
  margin-bottom: 1rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

#contact .contact-form .form-group input:focus,
#contact .contact-form .form-group textarea:focus {
  outline: 1px solid var(--primary-color);
}

#contact .contact-form .btn {
  border: none;
}

#openingstijden .openingstijden-content {
  padding: 2rem;
}

#openingstijden .table-openingstijden tr td {
  padding-right: 3rem;
}

/* Footer */

#footer {
  padding-top: 2rem;
}

#footer > * {
  line-height: 1.6;
}

#footer .contact > div {
  padding-top: 2rem;
}

#footer .contact .contact-business i {
  margin-right: 0.5rem;
}

#footer .contact .contact-social div {
  display: inline-block;
  margin-right: 1rem;
}

#footer .service {
  padding-bottom: 2rem;
}

#footer .service .service-header {
  margin-bottom: 1rem;
}

#footer .footer-end {
  padding: 1rem 0;
}

/* Medium screen Styling */

/* Header/Navigation */

@media (min-width: 48rem) {
  /* Utilities */

  .text-header-main {
    font-size: 3rem;
  }

  .logo {
    max-width: 400px;
  }

  .primary-navigation {
    position: relative;
    flex-direction: row;
    background-color: var(--secondary-color);
    inset: 0;
    padding: 0;
    transform: translateX(0%);
  }

  .primary-navigation li a {
    color: var(--primary-color);
  }
  .nav-current {
    border-bottom: 2px solid #62409c;
  }

  #hamburger {
    display: none;
  }

  .primary-navigation {
    display: flex;
  }

  .primary-navigation li {
    padding-right: 1rem;
  }

  .primary-navigation li a:hover {
    border-bottom: 2px solid #62409c;
  }

  /* Showcase Home */

  #showcase h1 span {
    font-size: 5rem;
  }

  /* Info text */

  #info-text .info-text-content {
    padding: 4rem;
  }

  /* Nieuw Home Section / Page */

  #nieuw .nieuw-content {
    grid-template-columns: repeat(4, 1fr);
  }

  #ringmaat .ringmaat-img {
    background-position: center 75%;
  }

  #ringmaat .ringmaat-content {
    /* padding: 2rem 0; */
  }

  #ringmaat .ringmaat-content h2 {
    font-size: 2.5rem;
  }

  #ringmaat .ringmaat-content > * {
    margin-bottom: 2rem;
  }

  #ringmaat .ringmaat-icons {
    padding: 1rem 0;
  }

  /* Favorieten Home Section */

  #favorieten {
    padding: 2rem 0;
  }

  #favorieten .favorieten-content {
    flex-direction: row;
  }

  /* Icons Home Section */

  #icons .icon-items {
    display: flex;
  }

  #icons .icon-item {
    padding: 2rem 3rem 4rem 3rem;
  }

  #icons .icon-img {
    height: 50vh;
  }

  /* Edelstenen Page */

  #edelstenen .edelstenen-card {
    display: grid;
    width: 100%;
  }

  #edelstenen .edelstenen-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-bottom: 4rem;
  }

  #edelstenen .edelstenen-content .edelstenen-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #edelstenen .edelstenen-content .edelstenen-card-header img {
    width: 40%;
  }

  #edelstenen .edelstenen-content .edelstenen-card-content p {
    text-align: justify;
    font-size: 0.875rem;
  }

  #edelstenen .edelstenen-content .edelstenen-card-content p.text-center {
    text-align: center;
  }

  #edelstenen .edelstenen-content > div {
    background: var(--primary-color);
    color: var(--secondary-color);
  }

  #edelstenen .edelstenen-content .btn {
    font-size: 0.875rem;
  }

  #edelstenen .edelstenen-content > div:nth-child(even) .btn {
    background: var(--secondary-color);
    color: var(--primary-color);
  }

  #edelstenen .edelstenen-content > div:nth-child(even) .btn:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    opacity: 0.7;
  }

  /* Contact Page */

  #contact {
    padding: 0 4rem;
  }

  #openingstijden {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #openingstijden .openingstijden-content {
    padding: 2rem 4rem;
  }

  /* Footer */


  #footer .wrapper {
    display: flex;
    gap: 4rem;
    padding-bottom: 2rem;
  }

  #footer .contact > div {
    padding-top: 1rem;
  }
}

/* Large screen styling */

@media (min-width: 68rem) {

  /* Header */

  header {
    padding-inline: 5rem;
  }

  .primary-navigation li {
    padding-right: 2rem;
  }

  #edelstenen .edelstenen-content {
    grid-template-columns: repeat(3, minmax(auto, 20.25rem));
  }

  #edelstenen .edelstenen-content .edelstenen-card-header h2 {
    font-size: 1.75rem;
  }

  #edelstenen .edelstenen-content .edelstenen-card-header p {
    font-size: 1rem;
  }
}
